@import url(../../styles/base.css);
@import url(../../styles/variables.css);

/* .landing {
  height: 90vh;
  border: 2px solid black;
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: auto;
} */

.landing-bg-color {
  /* background-color: var(--clr-red); */
  /* background-image: url(../../assets/bg.png); */
  /* background-size: contain; */
  /* background-image: url("../../assets/bg.png"); */
  padding: 2vh 0px 9vh 0px;
  /* border-bottom: 3px solid var(--clr-black); */
  /* height: 70vh; */
  /* padding-top: 10vh; */
}

.landing-bg {
  /* box-shadow: 4px 4px 0px var(--clr-white); */
  background-color: var(--clr-prmbg);
  border: solid 3px var(--clr-white);
  background-image: url(../../assets/devhost-landing.png);
  background-size:cover;
  /* background-pos;   */
  /* background-image: url(../../assets/DEVHOST-22.png); */
  /* background-size: 1300px 450px; */
  /* opacity: 0.5; */
  /* padding:  0px; */
  /* border: solid 3px var(--clr-black); */
  /* box-shadow: rgba(255, 255, 255, 0.5) 0px 7px 29px 0px; */
  /* height: 70vh; */
  /* padding-top: 10vh; */
}

.landing-transparent-bg {
  /* background-color: var(--clr-red); */
  background-color: rgba(0, 0, 0, 0.6);
  /* background-image: url(../../assets/devhost-landing.png); */
  /* background-size: cover; */
  /* padding:  0px; */
  /* border: solid 3px var(--clr-black); */
  /* height: 70vh; */
  /* padding-top: 10vh; */
}

.landing-section {
  height: 60vh;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-content {
  /* border: 3px solid greenyellow; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.presented-by {
  margin-bottom: 10px;
  font-family: var(--ff-barlow);
}

.presented-by-imgs {
  display: flex;
  justify-content: center;
}

.presented-by-img {
  height: 40px;
  padding: 0px 10px;
}

.presented-by-text {
  text-align: center;
  /* font-size: ; */
  /* font-family: var(--ff-barlow); */
  color: var(--clr-white);
}

.lan-logo {
  width: auto;
  max-width: 250px;
  object-fit: cover;
  height: auto;
}

.tagline {
  margin-top: 0.5rem;
  font-family: var(--ff-open-sans);
  font-weight: 600;
  /* font-size: 1.3rem; */
  /* letter-spacing: 0.1em; */
  color: var(--clr-white);
  line-height: 40px;
  text-align: center;
}

.dates {
  /* font-family: var(--ff-barlow); */
  /* font-family: var(--ff-goswell); */
  /* font-size: 24px; */
  color: var(--clr-white);
  /* line-height: 31px; */
  /* letter-spacing: 0.05em; */
  text-align: center;
}

.btns {
  /* border: 2px solid yellow; */
  display: flex;
  padding: 1.5rem;
  /* width: 250px; */
  /* margin: 1rem 10rem; */
  justify-content: center;
}

.landing-button-trans {
  cursor: pointer;
  width: 9em;
  height: 2.25em;
  border: 3px solid var(--clr-lime);
  color: var(--clr-lime);
  margin: 0px 10px;
  /* margin: 1rem; */
  /* padding: 0.2rem; */
  font-family: var(--ff-goswell);
  /* font-size: 1.5em; */
  background-color: transparent;
  /* box-shadow: 3px 3px 0px var(--clr-black); */
}

.landing-button {
  cursor: pointer;
  width: 9em;
  height: 2.25em;
  border: 3px solid var(--clr-lime);
  color: var(--clr-black);
  margin: 0px 10px;
  /* margin: 1rem; */
  /* padding: 0.2rem; */
  font-family: var(--ff-goswell);
  /* font-size: 1.5em; */
  background-color: var(--clr-lime);
  /* box-shadow: 3px 3px 0px var(--clr-black); */
}


.scem-map {
  color: var(--clr-white);
}

.scem-map:visited {
  color: var(--clr-white);
}
/* .red-button {
  background-color: var(--clr-clr3);
  background-image: linear-gradient(to bottom right, var(--clr-clr1), var(--clr-clr2), var(--clr-clr3));
  color: var(--clr-black);
}

.red-button:hover {
  text-decoration-color: var(--clr-white);
} */

.landing-info {
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* height: 40vh; */
  margin: -125px 0rem;
}

.centre-landing-info {
  max-width: 1200px;
  display: flex;
  /* margin: 0px 1.5em; */
}

.event-info {
  border: 3px solid var(--clr-black);
  /* border-radius: 10px; */
  /* width: 350px; */
  /* height: 240px; */
  /* margin: 0em 1em; */
  box-shadow: 4px 4px 0px black;
  background-color: var(--clr-white);
  padding: 1.25em;
  flex: 1;
  /* margin: 0px 1em; */
}

.ew {
  margin: 0px 1.5em;
}

@media screen and (max-width: 1100px) {
  .centre-landing-info {
    flex-direction: column;
  }

  .event-info {
    margin: 0.5rem 0em;
  }

  .btns {
    flex-direction: column;
    /* margin: 1rem 1rem; */
  }
  
  .btns a{
    margin-top: 10px;
  }

  /* .landing-button {
    margin: 0.25rem 0px;
  } */
}

@media screen and (max-width: 500px) {
  .lan-logo {
    max-width: 90%;
    padding: 0em 3em;
  }

  .centre-landing-info {
    margin: 0px 1em;
  }
}

@media screen and (max-width: 300px) {
  .lan-logo {
    padding: 0em 1em;
  }

  .btns {
    width: 100%;
  }

  .landing-button-trans,.landing-button {
    width: 100%;
  }
}

.event-info h2 {
  /* text-decoration: underline; */
  /* text-decoration-color: var(--clr-lime); */
  line-height: 45px;
}

.event-info p {
  margin-top: 0.5rem;
  /* font-family: var(--ff-open-sans); */
}
