@import url(../../styles/base.css);
@import url(../../styles/variables.css);

.landing {
    /* border: 2px solid black; */
    background-color: var(--clr-red);
    height: 507px;
    width: auto;
}

.landing-section {
    /* border: 2px solid rgb(255, 238, 0); */
    width: auto;
    height: 507px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.landing-content {
    /* border: 3px solid greenyellow; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3.5rem;
}

.lan-logo {
    width: auto;
    padding: 0em 3em;
    max-width: 100%;
    object-fit: cover;
    height: auto;
}

.tagline {
    margin-top: 0.5rem;
    font-family: var(--ff-open-sans);
    font-weight: 600;
    /* font-size: 1.3rem; */
    letter-spacing: 0.1em;
    color: var(--clr-background);
    line-height: 41px;
    text-align: center;
}

.dates {
    font-family: var(--ff-bebas-nue);
    font-size: 24px;
    color: var(--clr-background);
    line-height: 31px;
    letter-spacing: 0.05em;
    text-align: center;
}

.btns {
    /* border: 2px solid yellow; */
    display: flex;
    width: 250px;
    margin: 2.2em auto;
    display: flex;
    justify-content: center;
}

button {
    cursor: pointer;
    width: 20em;
    height: 2.5em;
    border: 3px solid var(--clr-black);
    margin: 0rem 1rem;
    /* padding: 0.2rem; */
    font-family: var(--ff-bebas-nue);
    font-size: 1.5em;
    background-color: var(--clr-background);
    box-shadow: 3px 3px 0px var(--clr-black);
}


.landing-info {
    /* border: 2px solid black; */
    display: flex;
    justify-content: space-evenly;
    max-width: 1200px;
    height: 47vh;
    margin: -3rem 0rem;
}

.event-info {
    border: 2px solid black;
    border-radius: 10px;
    width: 350px;
    height: 240px;
    box-shadow: 4px 4px 0px black;
    background-color: var(--clr-background);
    padding: 1.2rem;
}

.event-info h2 {
    font-family: var(--ff-open-sans);
    line-height: 33px;
}

.event-info p {
    margin-top: 1.2rem;
    font-family: var(--ff-open-sans);
}