@import url(../../styles/base.css);

.speakers {
  margin: 10vh 0px;
}

.speakers h1{
  /* background: linear-gradient(to bottom right, var(--clr-clr1), var(--clr-clr2), var(--clr-clr3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: var(--clr-lime);
}

.speaker-card {
  display: flex;
  box-shadow: 5px 5px 0px var(--clr-black);
  border: 3px solid var(--clr-black);
  background-color: var(--clr-white);
  margin: 7.5em 0em;
}

.speaker-img {
  background-color: var(--clr-grey);
  width: 350px;
  max-width: 100%;
  transition: 0.5s;
  filter: grayscale(100%);
  height: auto;
  border-right: 3px solid var(--clr-black);
  object-fit: cover;
}

.speaker-img:hover{
  cursor: pointer;
  filter: grayscale(0%);
}

@media screen and (max-width: 650px) {
  .speaker-card {
    flex-direction: column;
  }

  .speaker-img {
    width: auto;
    border-right: 0px solid var(--clr-black);
    border-bottom: 3px solid var(--clr-black);
  }
}

.speaker-body {
  flex: 3;
  display: flex;
  flex-direction: column;
}

.speaker-heading {
  border-bottom: 3px solid var(--clr-black);
  background-color: var(--clr-prmbg);
  padding: 10px 20px;
  color: var(--clr-white);
  text-decoration: underline;
}

.speaker-role {
  /* font-size: 1.1rem; */
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  padding: 10px 20px;
}

.speaker-desc {
  /* font-size: 1.2rem; */
  padding: 0px 20px 20px 20px;
  flex: 1;
}
