@import url(variables.css);

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

/* html {
  This defines what 1rem is
  1rem = 10px    10px/16px = 62.5%
  font-size: 62.5%;

  @include respond(lg) {
    width < 1200?
    1rem = 9px, 9/16 = 56.25%
    font-size: 56.25%;  
  }

  @include respond(md) {
    width < 900?
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 75%; // 1rem = 12px, 12/16 = 75%
  }

  overflow-x: hidden;
} */

body,
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  /* background-color: var(--clr-background); */
  background-image: url("../assets/bg.png");
  background-size: contain;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2,
h3 {
  /* font-family: var(--ff-bebas-nue); */
  font-family: var(--ff-goswell);
  font-weight: 100;
}

h1 {
  font-size: 3.75rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  font-size: 1.25rem;
  font-family: var(--ff-jetbrains);
  /* font */
}

button {
  border: none;
  outline: none;
  font-size: 1.5rem;
}

button:hover {
  text-decoration: underline;
  text-decoration-color: var(--clr-red);
}

a {
  text-decoration: none;
  color: var(--clr-prmbg);
}

/* a:hover {
  color: var(--clr-white);
} */

a:visited {
  color: var(--clr-prmbg);
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  button {
    font-size: 1.25rem;
  }
}
