@import url(../../styles/base.css);

.AboutBody{
    display: flex;
    /* height: 100vh; */
    flex-direction: row;
    align-items: stretch;
    justify-content: center;
    margin-top: 35rem;
}

.About-img{
    width: 100%;
    max-width: 450px;
    height: auto;
    object-fit: cover;
}

.About-desc{
    background-color: white;
    /* width: 600px; */
    border: 3px solid black;
    margin-left: 5%;
    box-shadow: 5px 5px 0px var(--clr-black);
    /* margin-bottom: 50px; */
}

.About-heading{
    font-family: var(--ff-bebas-nue);
    /* font-size: 24px; */
    border-bottom: 3px solid black;
    background-color: var(--clr-red);
    color: var(--clr-white);
    padding: 0px 20px;
}

.About-content{
    padding: 20px;
    font-family: var(--ff-open-sans);
}

@media screen and (max-width: 1100px) {
    .AboutBody{
        margin-top:  400px;
    }
}


@media only screen and (max-width: 900px) {
    .About-img {
        max-width: 300px;
    }
/* 
    .AboutBody {
        margin-top: 10em;
    } */
}

@media only screen and (max-width: 750px) {
    .About-img {
        max-width: 200px;
    }

    .AboutBody {
        margin-top: 500px;
    }

}

@media only screen and (max-width: 650px) {
	.AboutBody {
		flex-direction: column;
	}
    
    .About-img{
        margin-top: 100px;
        max-width: 100%;
    }
    
    .About-desc{
        margin: 5% 0px 0px 0px;
        width: 100%;
    }
}

/* i just dont know how to make this responsive so here you go 100 media queries */

@media only screen and (max-width: 400px) {
	.AboutBody {
		margin-top: 620px;
    }
}

@media only screen and (max-width: 350px) {
	.AboutBody {
		margin-top: 650px;
    }
}

@media only screen and (max-width: 320px) {
	.AboutBody {
		margin-top: 700px;
    }
}

@media only screen and (max-width: 300px) {
	.AboutBody {
		margin-top: 800px;
    }
}