@import url(../../styles/base.css);

.nav{
	/* background-color: var(--clr-lime); */
	/* background-color: var(--clr-red); */
	/* background-image: url(../../assets/bg.png); */
	/* background-size: cover; */
	height: 7vh;
	min-height: 50px;
}

.nav-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
	/* padding-bottom: 100px; */
}

.nav-logo {
	height: 100%;
}

.nav-items {
	/* display: flex; */
	/* justify-content: space-between; */
	/* width: 30%; */
	color: var(--clr-white);
	font-size: 1.3rem;
	font-weight: 100;
	font-family: var(--ff-bebas-nue);
}

.nav-item {
	padding: 0px 10px;
}

.nav-item:hover {
	text-decoration: underline;
	/* color: var(--clr-background); */
}

/* @media screen and (max-width: 1200px) {
	ul {
		width: 37.5%;
	}
}

@media screen and (max-width: 900px) {
	ul {
		width: 50%;
	}
} */

@media screen and (max-width: 650px) {
	.nav-items {
		display: none;
	}
}