@import url(../../styles/base.css);


.association{
	margin-top: 5em;
}


.association-box{
	display: flex;
    /* border: 2px solid black; */
    width: auto;
	margin-top: 1.5em;
    height: 400px;
	justify-content: center;
}

.association-card{
	display: flex;
	margin-top: 1em;
	padding: 0.2em;
}

.asso-img{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: 50em;
}


.association-img{
    /* background-color: var(--clr-grey); */
	/* width: 600px; */
	width: 100%;
	height: 120px;
	/* object-fit: cover; */
}