@import url(../../styles/base.css);


.association{
	margin-top: 10em;
}

.association-box{
	display: flex;
    /* border: 2px solid black; */
    width: auto;
	margin-top: 4em;
    height: 400px;
	justify-content: center;
}

.association-card{
	display: flex;
	margin-top: 1em;
	padding: 0.2em;
	margin: 3em 1em;
	/* width: 250px; */
    /* height: 150px; */
}

.asso-img{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	width: fit-content;
	height: max-content;
	border: 2px solid black;
	background-color: white;
	box-shadow: 5px 5px 0px black;
}

.association-img{
    /* background-color: var(--clr-grey); */
	/* width: 600px; */
	width: auto;
	height: 60px;
	margin: 1em 3em ;

}


