@import url(../../styles/base.css);

.association {
  margin-top: 10em;
}

.association h1{
  background: linear-gradient(to bottom right, var(--clr-clr1), var(--clr-clr2), var(--clr-clr3));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.association-box {
  display: flex;
  /* border: 2px solid black; */
  width: auto;
  margin-top: 3em;
  /* height: 400px; */
  justify-content: center;
}

.association-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100px;
  margin: 20px;
  /* flex-basis: 45%; */
  /* margin-top: 1em; */
  /* padding: 0.2em; */
  /* margin: 3em 1em; */
  /* width: 250px; */
  /* height: 150px; */
}

.asso-img {
  padding: 2em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* height: max-content; */
  border: 2px solid black;
  background-color: white;
  box-shadow: 5px 5px 0px black;
}

.association-img {
  /* background-color: var(--clr-grey); */
  /* width: 600px; */
  max-width: 250px;
  max-height: 80px;
  /* margin: 4em; */
}

@media screen and (max-width: 425px) {
  .association-img {
    max-height: 100%;
    max-width: 100%;
  }

  .association-card {
    max-height: 75px;
    max-width: 145px;
  }
}
